# COMMON
APP_NAME=weaver2
PORT=3000
NODE_ENV=development
ORIGIN_URL=localhost:3000
CLIENT_URL=http://localhost:3001
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# DATABASE
DATABASE_URL=postgresql://<user>:<password>@localhost:5432/<db>

# TOKEN
JWT_SECRET=secret
JWT_EXPIRES_IN=1h

# EMAIL
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMT_PASS=

# Locale and Timezone
APP_LOCALE=ko-KR
APP_TIMEZONE=Asia/Seoul
