# COMMON
APP_NAME=weaver2
PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://<user>:<password>@localhost:5432/<db>

# TOKEN
JWT_SECRET=secret

# EMAIL
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMT_PASS=
